<form action="/api/users" method="POST" id="add_user">
            <div class="form-group">
            <label for="case_no" class="text-dark">CIN</label>
            <input type="number" name="caseNumber" value="">
            </div>
            <div class="form-group">
            <label for="date" class="text-dark">Date</label>
            <input type="date" name="date" value="">
            </div>
            <div class="form-group">
            <label for="name" class="text-dark">Crime</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="Crime" value="" placeholder="Enter crime">
              </div>
            <div class="form-group">
            <label for="name" class="text-dark">  Culprit</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="Culprit" value="" placeholder="Enter name">
              </div>
               <div class="form-group">
            <label for="name" class="text-dark">Victim</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="Victim" value="" placeholder="Enter name">
              </div>
        <div class="form-group">
            <label for="status" class="text-dark">Status</label>
            <div class="radio inline">
                <input type="radio" id="radio-2" name="Status" value="Pending" >
                <label for="radio-2" class="radio-label">Pending</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-3" name="Status" value="Settled" >
                <label for="radio-3" class="radio-label">Settled</label>
            </div>
        </div>
        <div class="form-group">
            <label for="name" class="text-dark">Judgement</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="Judgement" value="" placeholder="Enter verdict">
              </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>
 
</form>