<!-- include header -->
    <%- include('../include/header.ejs') %>
<!-- /include header -->
<body>
	 <%- include('../include/clientNavbar.ejs') %><br>
<br><br><br><br>
<div class="text-center">
    <h3>Citizen Centric Service</h3>
    <p>To provide time bound and efficient citizen centric service</p>

</div>
<br>
<div class="text-center">
    <h3>Transparency of Information access</h3>
    <p>To provide faster and transparent information access to users and clients</p>

</div>
<br>
<div class="text-center">
    <h3>Justice Delivery System</h3>
    <p>To enhance judicial productivity both qualitatively and quantitatively to make justice delivery system affordable,accessible and cost effective</p>

</div>
<br>
<div class="text-center">
    <h3>Court Management and Case managemement system</h3>
    <p>To make secure database and backup so that the case details are updated and securely managed.</p>

</div>
</body>
<!-- include header -->
    <%- include('../include/footer.ejs') %>
<!-- /include header -->   