
<!-- include header -->
    <%- include('../include/header.ejs') %>
<!-- /include header -->

 <body class="hero-anime"> 

   <%- include('../include/clientNavbar.ejs') %>
   <div class="section full-height">
    <div class="absolute-center">
      <div class="section">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <br>
      <h1><span>W</span><span>e</span><span>l</span><span>c</span><span>o</span><span>m</span><span>e</span> <span>t</span><span>o</span><br>
      </h1>
        <p style="font-size: 1.9em;">Indian Judicial Information System</p> 
            </div>  
          </div>    
        </div>    
      </div>
      <div class="section mt-5">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div id="switch">
                <div id="circle"></div>
              </div>
            </div>  
          </div>    
        </div>      
      </div>
<!--div for stats-->
<br> 
<div class="container" id="stats_all">
  <div class="stats container_cs">
    <div class="row">
      <div class="col-md-3 stats_complex_hi"><p class="statsTitle" tabindex="0" style="
        font-style: italic">High Court Complexes</p><p class="counts slideUp" tabindex="0">39</p></div>
      <div class="col-md-3 stats_cases_hi" tabindex="0"><p class="statsTitle" style=" font-style: italic">HC Pending Cases</p><p aria-hidden="true" class="counts slideUp" title="4.83 Million">4.83 M</p><label style="font-size:0.0000000001px; color:#000;">4.83 Million</label></div>
  
  <div class="col-md-3 stats_orders_hi" tabindex="0"><p class="statsTitle" style=" font-style: italic">HC Disposed Cases</p><p aria-hidden="true" class="counts slideUp" title="113.01 Thousand">113.01 K</p><label style="font-size:0.0000000001px; color:#000;">113.01 Thousand</label></div>
      <div class="col-md-3 stats_today_hi" tabindex="0"><p class="statsTitle"style=" font-style: italic">HC Cases Listed Today</p><p class="counts slideUp" aria-hidden="true">8.5 K</p><label style="font-size:0.0000000001px; color:#000;">8.5 Thousand</label></div>
    </div>
    </div>
    <div class="stats container_cs">
  
    <div class="row">
      <div class="col-md-3 stats_complex"><p class="statsTitle" tabindex="0" style=" font-style: italic">District  Court Complexes</p><p class="counts slideUp" tabindex="0">3684</p></div>
      <div class="col-md-3 stats_cases" tabindex="0"><p class="statsTitle" style=" font-style: italic">DC Pending Cases</p><p aria-hidden="true" class="counts slideUp" title="38.07 Million">38.07 M</p><label style="font-size:0.0000000001px; color:#000;">38.07 Million</label></div>
      <div class="col-md-3 stats_orders" tabindex="0"><p class="statsTitle" style=" font-style: italic">Last Month DC Disposed Cases</p><p class="counts slideUp" title="1.07 Million" aria-hidden="true">1.07 M</p><label style="font-size:0.0000000001px; color:#000;">1.07 Million</label></div>
      <div class="col-md-3 stats_today" tabindex="0"><p class="statsTitle" style=" font-style: italic">DC Cases Listed Today</p><p class="counts slideUp" aria-hidden="true">167.24 K</p><label style="font-size:0.0000000001px; color:#000;">167.24 Thousand</label></div>
    </div>
  </div>
  </div>
    </div>
  </div>
  <div class="my-5 py-5">
  </div>
  <!--last div ke niche-->
  <div class="foot">
    <div class="row">
      <div class="col-md-6 text-center">Download Mobile App for Android & iOS&nbsp;&nbsp;
        <br><a href="https://play.google.com/store/apps/details?id=in.gov.ecourts.eCourtsServices"  target="_blank" rel = "noopener noreferrer" title="Google play External website that opens a new window" tabindex="0"><img class="gp" src="../images/googlePlay.jpeg" alt="Google Play"></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://appsto.re/in/yv-jlb.i"  target="_blank" rel = "noopener noreferrer" title="App Store External website that opens a new window" tabindex="0"><img class="app-store" src="../images/apple.jpeg" alt="App Store"></a></div>
    <div class="col-md-6 text-center"><strong>Know current status of your case by Return SMS</strong><br> <span class="smstext">SMS ECOURTS&lt;space&gt;&lt;your CNI Number&gt; To 9766899899</span></div>
    </div>
  </div>
</body>
<!-- include header -->
    <%- include('../include/footer.ejs') %>
<!-- /include header -->